.cards-info-wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  .info {
    flex: 1;
    text-align: right;
  }
}

.cards-car-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}
