<div class="cards-info-wrapper">
  <button class="btn is-primary mr-1" routerLink="/car-selector">
    <span class="icon icon-with-text">
      <i class="fas fa-plus"></i>
    </span>
    <span>Add new vehicle</span>
  </button>
  <span tooltip="Save your garage">
    <button
      class="btn is-grey-medium mini-button"
      (click)="saveToLocalStorage()"
    >
      <span class="icon">
        <i class="fas fa-save"></i>
      </span>
    </button>
  </span>
  <span tooltip="Load your saved garage">
    <button
      class="btn is-grey-medium mini-button"
      (click)="getFromLocalStorage()"
    >
      <span class="icon">
        <i class="fas fa-cloud-download-alt"></i>
      </span>
    </button>
  </span>
  <span tooltip="Delete everything">
    <button class="btn is-grey-medium mini-button" (click)="deleteEverything()">
      <span class="icon">
        <i class="far fa-trash-alt"></i>
      </span>
    </button>
  </span>
  <div class="info">
    <span tooltip="Preview vehicle cards">
      <button
        class="btn is-grey-medium mini-button"
        routerLink="/preview-cards"
      >
        <span class="icon">
          <i class="fas fa-eye"></i>
        </span>
      </button>
    </span>
    <span tooltip="Print only the list">
      <button class="btn is-grey-medium mini-button" (click)="printPdf()">
        <span class="icon">
          <i class="fas fa-print"></i>
        </span>
      </button>
    </span>
    <button class="btn is-grey-medium mr-1 ml-1">
      <span
        >Vehicles: <b>{{ carsInGarage.length }}</b></span
      >
    </button>
    <button class="btn is-grey-medium">
      <span
        >Cost: <b>{{ totalCost }} cans</b></span
      >
    </button>
  </div>
</div>
<div class="cards-car-wrapper">
  <app-car-card
    *ngFor="let car of carsInGarage; index as i"
    [vehicle]="car"
  ></app-car-card>
</div>
