<div class="cards-info-wrapper">
  <div class="card add-button" routerLink="/car-selector">
    + Add new vehicle
  </div>
  <div class="card">
    Total vehicles in garage: <b>{{ carsInGarage.length }}</b>
  </div>
  <div class="card">
    Total cost: <b>{{ totalCost }}</b> barrels
  </div>
</div>
<div class="cards-car-wrapper">
  <app-car-card
    *ngFor="let car of carsInGarage; index as i"
    [vehicle]="car"
  ></app-car-card>
  <!-- <div class="card" *ngFor="let car of carsInGarage; index as i">
    <div class="card-content">
      <div class="content">
        <h4>{{ car.model }}</h4>
        {{ car.weight }}
        {{ car.cost }}
        {{ car.upgrades }}
        {{ car.specialRules }}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item" (click)="deleteCar(i)">Delete</a>
    </footer>
  </div> -->
</div>
