<button class="button is-primary" routerLink="/car-selector">
    Add new vehicle
</button>

<div class="card" *ngFor="let car of carsInGarage; index as i">
    <div class="card-content">
        <div class="content">
            <h4>{{ car.model }}</h4>
            {{ car.weight }}
            {{ car.cost }}
            {{ car.upgrades }}
            {{ car.specialRules }}
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item" (click)="deleteCar(i)">Delete</a>
    </footer>
</div>
