<div class="panel">
  <p class="panel-heading is-flex">
    <span class="tag is-normal">{{ vehicle.cost }}</span>
    {{ vehicle.model }}
    <span class="build-slots"
      >{{ getSlotsFilled() }}/{{ vehicle.buildSlots }}</span
    >
    <span class="delete-car-button"
      ><i class="far fa-trash-alt" (click)="deleteCar()"></i
    ></span>
  </p>
  <div
    class="panel-block weapon-block is-flex"
    *ngFor="let weapon of vehicle.weapons; index as i"
  >
    <span class="tag is-normal">{{ weapon.cost }}</span>
    <span class="panel-icon">
      <i class="fas fa-bomb"></i>
    </span>
    {{ weapon.name }}
    <span class="delete-button"
      ><i class="far fa-trash-alt" (click)="deleteWeapon(i)"></i
    ></span>
  </div>
  <div class="panel-block is-flex is-justify-content-space-evenly">
    <button class="button is-link is-small" (click)="toggleModal()">
      Add weapon
    </button>
    <button class="button is-link is-small">Add upgrade</button>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': modalIsActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <app-weapons-list
          (addWeapon)="addWeaponToCar($event)"
        ></app-weapons-list>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="toggleModal()"
  ></button>
</div>

<!-- <div class="card-wrapper" id="card">
  <div
    class="card-top"
    [ngStyle]="{
      'background-image': 'url(/assets/images/' + vehicle.id + '.jpg)'
    }"
  >
    <div class="left">
      <p class="vehicle-type">{{ vehicle.model }}</p>
      <h3 class="vehicle-name">NAME OF VEHICLE</h3>
    </div>
    <div class="right">
      <div class="dice-box">
        <i class="fas fa-cog fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="card-stats">
    <div class="stat-circle handling">
      <i class="fas fa-dice-six fa-2x icon"></i>
      <span class="text">{{ vehicle.handling }}</span>
    </div>
    <div class="stat-circle crew">
      <i class="fas fa-user-friends fa-2x icon"></i>
      <span class="text">{{ vehicle.crew }}</span>
    </div>
    <div class="stat-circle weight">
      <i class="fas fa-weight-hanging fa-2x icon"></i>
      <span class="text">{{ getWeightCharacter(vehicle.weight) }}</span>
    </div>
    <div class="stat-circle gear">
      <i class="fas fa-cogs fa-2x icon"></i>
      <span class="text">{{ vehicle.maxGear }}</span>
    </div>
  </div>
  <div class="card-rules">
    <ul>
      <li *ngFor="let rule of vehicle.specialRules">
        <span>{{ rule.name }}</span> - {{ rule.effects }}
      </li>
    </ul>
  </div>
  <div class="card-bottom">
    <div
      *ngFor="let i of [].constructor(vehicle.hullPoints)"
      class="hull-circle"
    ></div>
  </div>
</div> -->
