@import '../../css/variables.scss';

$card-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);

.card {
  @extend .p-2;
  background-color: map-get($colors, grey-medium);
  border-radius: $border-radius-5;
  box-shadow: $card-box-shadow;

  .footer {
    @extend .mt-1;
    justify-content: space-evenly;
  }

  hr {
    border-color: map-get($colors, grey-light);
    opacity: 0.2;
  }

  .item-block {
    @extend .txt-is-grey-light;
    @extend .p-1;
    align-items: center;

    .tag {
      @extend .is-semibold;
      font-size: map-get($font-size, small);
      width: $double-unit + $unit;
      margin-right: $unit;
      background-color: map-get($colors, grey-darkest);
      color: map-get($colors, grey-light);
      border-radius: $border-radius-3;
      text-align: center;
      padding: 2px 0;
    }

    .icon {
      width: $double-unit + $unit;
      margin-right: $unit;
      text-align: center;
    }

    .build-slots {
      text-align: right;
      font-size: map-get($font-size, xsmall);
    }

    .delete-icon {
      text-align: end;
      i {
        cursor: pointer;
      }
    }
  }
}
