@import './app/css/variables.scss';

// Generic
// ********************************

body {
  margin: 0;
  margin: 0;
  background-color: map-get($colors, grey-darkest);
  background-image: linear-gradient(
      rgba(32, 34, 37, 1),
      rgba(32, 34, 37, 1),
      rgba(32, 34, 37, 0.99),
      rgba(32, 34, 37, 0.96),
      rgba(32, 34, 37, 0.95)
    ),
    url('../src/assets/images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
}

body,
p,
span,
h1,
h2,
h3,
h4 {
  font-family: whitney, sans-serif;
}

p,
span {
  font-size: map-get($font-size, medium);
}

h1 {
  @extend .is-bold;
  margin: 0;
  font-size: map-get($font-size, xbig);
}

h2 {
  @extend .is-bold;
  font-size: map-get($font-size, big);
}

h3 {
  @extend .is-semibold;
  font-size: map-get($font-size, medium);
}

// Buttons
// ********************************

.btn {
  border-radius: $border-radius-3;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  font-weight: 500;

  .icon-with-text {
    margin-right: 8px;
  }
}

// Tooltip
// ********************************

.tooltip {
  font-size: map-get($font-size, xsmall);
}

// Table
// ********************************

table {
  width: 100%;

  td {
    @extend .pt-1;
    @extend .pb-1;
  }
}
